.home-page {
  width: 100%;
  height: 100%;
  background-image: url('../assets/bg.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  position: relative;
}
.logo {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 10px;
  top: 10px;
}

.lottery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: 100%;
  /* top: 530px; */
  bottom: 100px
}

@keyframes move-cloud-y {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes move-cloud-x {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-400px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes move-cloud-x2 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes move-rocket {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100vw, -100vh);
  }
}

.cloud {
  width: 80px;
  position: fixed;
}

.cloud1 {
  width: 120px;
  animation: move-cloud-y 5s ease-in-out infinite;
  top: 120px;
  left: 10%;
}

.cloud2 {
  width: 160px;
  animation: move-cloud-x 30s ease-in-out infinite;
  top: 100px;
  right: 0;
}

.cloud3 {
  width: 80px;
  animation: move-cloud-y 3s ease-in-out infinite;
  top: 300px;
  left: 20%;
}

.cloud4 {
  width: 90px;
  animation: move-cloud-x2 3s ease-in-out infinite;
  top: 500px;
  right: 0;
}

.rock-btn {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.cats {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 10px;
  bottom: -70px;
}

.info {
  position: absolute;
  left: 14px;
  top: -16px;
  font-size: 16px;
  font-weight: 600;
}

.rocket {
  position: fixed;
  width: 70px;
  animation: move-rocket 10s ease-in-out infinite;
  bottom: 400px;
  left: -80px;
}